@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.header{
  font-family: Poppins;
  background-color: #053742;
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 1px;
  margin: 0;

}
